<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="post">
        <div class="title">
            {{post.title}}
        </div>

        <div class="content">
            {{post.content}}
        </div>
    </div>

    <div>
        -----------------------------------------
    </div>

    {% for comment in comments %}
        <div class = "comments">
            {{comment.content}}
        </div>
    {% endfor %}


    <form method="POST">
        <input type="text" name="content" placeholder="댓글을 입력하세요">
        <button type="submit">댓글 쓰기</button>
      </form>

</body>

</html>