<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "enroll">
        <form method="POST">
            <div class = "title">
                입력 중입니다.
            </div>
            <div class = "input_content">
                <input type = "text" name = "title" placehoder = "제목">
                <input type = "text" name = "content" placeholder = "내용">
                <button type ="submit"> 작성하기 </button>
            </div>
        </form>
    </div>

    <div class = "posts">
        {% for post in posts %}
            <div class = "post">
                {{post.pk}}
                <a href = "{% url 'detail' post.pk %}"> {{post.title}} </a>
            </div>
        {% endfor %}
    </div>
    
</body>
</html>