<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "enroll">
        <form method="POST">
            <div class = "title">
                입력 중입니다.
            </div>
            <div class = "input_content">
                <input type = "text" name = "content" placehoder ="제목">
            </div>
            <div class = 'submit'>
                <button type ="submit"> 작성하기 </button>
            </div>
        </form>
    </div>

    <div class = "comments">
        {% for comment in comments %}
            <div class = "comment">
                {{comment.pk}}
                {{comment.content}}
            </div>
        {% endfor %}
    </div>
    
</body>
</html>